@inject ApplicationDbContext dbContext

<h3>Schedule</h3>

<div class="container">
    @foreach (var session in ClassSessions)
    {
        <div class="row">
            <div class="card">
                <div class="card-header">
                    Name: @session.Name
                </div>
                <div class="card-body">
                    Description: @session.Description
                </div>
            </div>
        </div>
    }
</div>

@code {
    public List<ClassSession> ClassSessions { get; set; }

    protected override void OnInitialized()
    {
        ClassSessions = dbContext.ClassSessions.ToList();
    }
}
