@page "/"
@using MS587FinalProject.Components

<div class="row">
    <div class="col-8">
        <ScheduleDisplay></ScheduleDisplay>
    </div>
    <div class="col-4">
        <CommentDisplay></CommentDisplay>
    </div>
</div>

@code {

}