@page "/schedule"
@using MS587FinalProject.Components 

<h3>Schedule</h3>

@code {

}

<div class="row">
    <div class="col-8">
        This is the class schedule.
        <ScheduleDisplay></ScheduleDisplay>
    </div>
    <div class="col-4">
        Here are comments.
    </div>
</div>
